.container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.container select {
	width: 5rem;
	border-radius: 15px;
	border-color: transparent;
	outline: none;
	padding: 0.125rem;
	font-size: 0.675rem;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 2px 3px 3px rgba(36, 11, 54, 0.3);
	background-color: #cecece;
}

.container select:hover {
	box-shadow: 0px 2px 3px 3px rgba(149, 157, 165, 0.5);
}

.container label {
	color: #1c1c1c;
	font-weight: 700;
	font-size: 0.675rem;
	text-transform: capitalize;
}

/* Iphone 6/7/8 */
@media screen and (min-width: 375px) {
	.container select {
		width: 7rem;
		font-size: 0.875rem;
		padding: 0.125rem 0.5rem;
	}
	.container label {
		font-size: 1rem;
	}
}
