.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
}

.container label {
	color: #1c1c1c;
	font-weight: 700;
	font-size: 1.2rem;
	text-transform: capitalize;
}

.container select {
	width: 7rem;
	border-radius: 15px;
	border-color: transparent;
	outline: none;
	padding: 0.25rem 0.5rem;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 2px 3px 3px rgba(36, 11, 54, 0.3);
	background-color: #cecece;
}

.container select:hover {
	box-shadow: 0px 2px 3px 3px rgba(149, 157, 165, 0.5);
}

@media screen and (min-width: 578px) {
	.container label {
		font-size: 1rem;
	}
}
