.chart-bar {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.chart-bar__bar {
    display: flex;
    flex-direction: column-reverse;
    width: 95%;
    height: 8px;
    background-color: #143642;
    border-radius: 8px;
}

.chart-bar__toFill {
    background-color: #B9FAF8;
    border-radius: 8px;
}

@media screen and (min-width:768px) {
    .chart-bar {
        flex-direction: column;
    }
    .chart-bar__bar {
        width: 50%;
        height: 10rem;
    }
}
