.chart {
    display:flex;
    flex-direction: column;
    margin: 1rem;
    width: 100%;
}

/* Laptop & Desktop */
@media screen and (min-width: 768px) {
    .chart {
        flex-direction: row;
        margin: 2rem;
    }
}