.chart-bar {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.chart-bar .title {
    font-size: 0.675rem;
}

.bar {
    display: flex;
    flex-direction: column-reverse;
    width: 95%;
    height: 6px;
    background-color: #143642;
    border-radius: 8px;
}

.toFill {
    background-color: #BBD2C5;
    border-radius: 8px;
}


/* Iphone 6/7/8 */
@media screen and (min-width: 375px) {
	.bar {
		height: 8px;
	}

    .chart-bar .title {
        font-size: 1rem;
    }
}

@media screen and (min-width:680px) {
    .chart-bar {
        flex-direction: column;
        width: 100%;
    }
    .bar {
        width: 50%;
        height: 10rem;
    }
}
