.chart-container {
    display:flex;
    flex-direction: column;
    margin: 1rem;
    width: 100%;
}

/* Tablet */
@media screen and (min-width: 768px) {
    .chart-container {
        flex-direction: row;
        margin: 2rem;
    }
}