.control {
    padding: 1.25rem;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

@media screen and (min-width: 578px) {
    .controls {
        justify-content: space-between;
    }
}