.exercise-form {
    width: 100%;
}

.exercise-form__controls {
    display: flex;
    flex-wrap: wrap;
}

.exercise-form__control.invalid {
    color: #CC2936;
}

.exercise-form__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

@media screen and (min-width: 578px) {
    .exercise-form__controls {
        justify-content: space-between;
    }

    .exercise-form__control label p {
        font-size: 1rem;
    }
}