.form {
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.25rem;
}

/* Surface Duo */
@media screen and (min-width: 540px) {
    .form {
        margin: 0.25rem;
    }
	.controls {
        justify-content: space-between;
        align-items: center;
	}

    .actions {
        margin-top: 0.75rem;
    }
}

/* iPad */
@media screen and (min-width: 768px) {
	.controls {
        justify-content: space-between;
        margin: 0 1rem;
	}

    .controls .control select {
        margin-right: 2.25rem;
    }
}