.new-exercise {
	display: flex;
	justify-content: center;
	width: 14.25rem;
	margin: 1rem;
	padding: 1rem;
	background: #cecece;
}

/* Iphone 6/7/8 */
@media screen and (min-width: 375px) {
	.new-exercise {
		width: 18rem;
	}
}

/* Pixel 2 */
@media screen and (min-width: 411px) {
	.new-exercise {
		width: 20rem;
	}
}

/* Surface Duo */
@media screen and (min-width: 540px) {
	.new-exercise {
		width: 30rem;
	}
}

/* iPad */
@media screen and (min-width: 768px) {
	.new-exercise {
		width: 43rem;
	}
}
