.new-exercise {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    max-width: 85%;
    margin: 2rem auto;
    padding: 1.25rem;
    background-color: #2D2D2D;
    color: #FCDE67;
}


@media screen and (min-width: 768px) {
    .new-exercise {
        width: 45rem;
    }
}