.new-exercise {
    display: flex;
	justify-content: center;
	align-items: center;
	width: 30rem;
	max-width: 85%;
	margin: 8rem 1rem;
	padding: 1.25rem;
	background: #bdc3c7;
}

@media screen and (max-width:1000px) {
	.new-exercise {
		margin: 1rem;
	}
}