.filter-select {
	display: flex;
	align-items: center;
	width: 85%;
	border-radius: 15px;
	background-color: var(--clr-blue-light);
	padding: 1rem;
}

.filter-select label {
	color: var(--clr-white);
}

/* iPhone 5/SE */
@media screen and (min-width: 320px) {
	.filter-select {
		width: 90%;
	}
}

/* Pixel 2 */
@media screen and (min-width: 411px) {
	.filter-select {
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
}

/* Tablet */
@media screen and (min-width: 768px) {
	.filter-select select {
		width: 10rem;
	}
}
