.item {
	padding: 1rem;
	margin: 1rem;
	border-radius: 15px;
	background: var(--clr-blue-dark);
}

.item-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.info {
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 15px;
	width: 100%;
	font-size: 0.75rem;
	background: var(--linear-gradient-1);
	color: #fff;
}

.divider {
	height: 2px;
	width: 90%;
	background: var(--clr-white);
}

.actions {
	display: flex;
	justify-content: center;
	gap: 0.25rem;
	width: 100%;
}

.actions button {
	width: 30%;
	font-size: 0.75rem;
	background: var(--linear-gradient-1);
	transition: var(--transition);
}

.actions button:hover {
	background: var(--clr-white);
}

@media screen and (min-width: 360px) {
	.info,
	.actions button {
		font-size: 1.2rem;
	}
}

/* iPad */
@media screen and (min-width: 768px) {
	.item-container {
		flex-direction: row;
		justify-content: space-between;
	}

	.actions button {
		width: 5rem;
	}
}
