.exercises-chart {
	background-color: #536976;
	color: #fff;
	font-weight: bold;
	width: 90%;
	border-radius: 15px;
	display: flex;
	margin: 1rem;
}

@media screen and (max-width: 999px) {
	.exercises-chart {
		width: 30rem;
	}
}

@media screen and (max-width: 500px) {
	.exercises-chart {
		width: 25rem;
	}
}