.exercises {
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    width: 95%;
}

.msg {
    padding: 1rem;
    margin: 1rem;
    background-color: var(--bg-clr-3);
    color: var(--white);
}

.error-msg {
    color: var(--clr-red);
}

/* iPad Pro */
@media screen and (min-width: 1366px) {
    .exercises {
        width: 50%;
    }
}
