.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	gap: 2rem;
	padding: 1.25rem;
	margin: 1rem;
	border-radius: 15px;
	background: #d7d2cc;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background: #485563; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#29323c,
		#485563
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#29323c,
		#485563
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
	border-radius: 15px;
	width: 15rem;
	padding: 0 0.75rem;
}

.divider {
	height: 2px;
	width: 90%;
	background: #fff;
}

.actions {
	display: flex;
	gap: 0.25rem;
}

.actions button {
	width: 10rem;
	font-size: 1.5rem;
	background: #485563; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#29323c,
		#485563
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#29323c,
		#485563
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	transition: all 0.3s ease-in-out;
}

.actions button:hover {
	background: #fff;
}

@media screen and (min-width: 1000px) {
	.item {
		flex-direction: row;
		margin: 1rem;
		padding: 1.25rem;
	}

	.actions {
		display: flex;
		gap: 0.25rem;
	}

	.actions button {
		width: 5rem;
	}
}
