.exercises-chart {
	display: flex;
	margin: 1rem;
	width: 16rem;
	background-color: #536976;
	color: #fff;
	font-weight: bold;
	border-radius: 15px;
}

/* Iphone X */
@media screen and (min-width: 375px) {
	.exercises-chart {
		width: 22rem;
	}
}

/* Iphone 5/SE */
@media screen and (min-width: 320px) {
	.exercises-chart {
		width: 18.5rem;
	}
}

/* @media screen and (min-width: 680px) {
	.exercises-chart {
		width: 40rem;
	}
}

@media screen and (max-width: 360px) {
	.exercises-chart {
		width: 20rem;
	}
} */
