.exercises {
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    width: 95%;
}

.msg {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 1rem;
    width: 90%;
    height: 5rem;
    text-align: center;
    margin: 1rem;
    background-color: var(--bg-clr-3);
    color: var(--clr-white);
}

.error-msg {
    color: var(--clr-red);
}

/* iPad Pro */
@media screen and (min-width: 1366px) {
    .exercises {
        width: 50%;
    }
}
