.list {
	width: 100%;
	max-height: 30rem;
	border-radius: 15px;
}

.list .empty-list-msg {
	background: var(--bg-color-3);
	text-align: center;
	border-radius: 15px;
	color: var(--clr-white);
	padding: 1rem;
	font-size: 0.75rem;
}

/* Pixel 2 */
@media screen and (min-width: 411px) {
	.list .empty-list-msg {
		font-size: 1rem;
	}
}

/* iPad */
@media screen and (min-width: 768px) {
	.list .empty-list-msg {
		font-size: 1.4rem;
	}
}




