.date {
	border: 2px #fff solid;
    padding: 0 0.75rem;
	color: #143642;
	border-radius: 15px;
	text-align: center;
	border-color: #bbd2c5;
	background: #bbd2c5;
	display: flex;
	justify-content: space-between;
	width: 15rem;
}

