.item {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	margin: 1rem;
	border-radius: 15px;
	background: #cecece52;
}

.info {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: #485563; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#29323c,
		#485563
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#29323c,
		#485563
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
	border-radius: 15px;
	width: 100%;
	font-size: 0.75rem;
}

.divider {
	height: 2px;
	width: 90%;
	background: #fff;
}

.actions {
	display: flex;
	justify-content: center;
	gap: 0.25rem;
}

.actions button {
	width: 5rem;
	font-size: 0.75rem;
	background: #485563; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#29323c,
		#485563
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#29323c,
		#485563
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	transition: all 0.3s ease-in-out;
}

.actions button:hover {
	background: #fff;
}

/* Iphone 6/7/8 */
@media screen and (min-width: 375px) {
	.info {
		font-size: 1rem;
	}

	.actions button {
		font-size: 1.2rem;
		padding: 0.25rem;
	}
}

/* Surface Duo */
@media screen and (min-width: 540px) {
	.info {
		font-size: 1.2rem;
	}

	.actions button {
		width: 8rem;
		font-size: 1.5rem;
		padding: 0.5rem;
	}
}
