.list {
	width: 100%;
	background: #2c3e50;
	border-radius: 15px;
	max-height: 25rem;
}

.list .empty-list-msg {
	background: #2c3e50;
	text-align: center;
	border-radius: 15px;
	color: #bbd2c5;
	width: 90%;
	padding: 1rem;
	font-size: 1.3rem;
}

@media screen and (min-width: 1000px) {
	.list {
		width: 90%;
	}
}
