.date {
	display: flex;
	justify-content: space-between;
	width: 10rem;
	padding: 0 0.75rem;
	font-size: 0.75rem;
	color: #fff;
	border-radius: 15px;
	text-align: center;
	border-color: #bbd2c5;
	background: #0000; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#29323c,
		#485563
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#29323c,
		#485563
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}