.button {
	width: 7rem;
	outline: none;
	padding: 0.5rem;
	text-transform: capitalize;
	border-radius: 20px;
	border: transparent;
	cursor: pointer;
}

.button:disabled {
	background: var(--clr-black);
	color: var(--clr-white);
	cursor: not-allowed;
}

.button:disabled:hover {
	background: var(--clr-black);
	color: var(--clr-white);
}
