.button {
	width: 9.375rem;
	outline: none;
	padding: 0.5rem 1.5rem;
	font-size: 1rem;
	text-transform: capitalize;
	border-radius: 20px;
	border: transparent;
	cursor: pointer;
	color: #fff;
    font-weight: 700;
	background: #2c3e50;
	transition: all 0.3s ease-in-out;
}

.button:hover {
	background-color: #E4E5E6;
	color: #1c1c1c;
	cursor:pointer;
}