.container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.container input {
	width: 13rem;
	border-radius: 15px;
	border-color: transparent;
	outline: none;
	padding: 0.125rem 0.5rem;
	background-color: #cecece;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 2px 3px 3px rgba(36, 11, 54, 0.3);
	font-size: 0.675rem;
}

.container label {
	color: #1c1c1c;
	font-weight: 700;
	font-size: 0.75rem;
	text-transform: capitalize;
}

.container input:hover {
	box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.5);
}

.container.invalid input {
	box-shadow: 0 2px 3px 3px rgba(195, 20, 50, 0.5);
}

.container.invalid label {
	color: #df0d30;
}

/* Iphone 6/7/8 */
@media screen and (min-width: 375px) {
	.container input {
		font-size: 0.875rem;
	}

	.container label {
		font-size: 1rem;
	}
}

/* Surface Duo */
@media screen and (min-width: 540px) {
	.container input {
		width: 17rem;
		font-size: 1rem;
		padding: 0.325rem 0.5rem;
	}

	.container label {
		font-size: 1.2rem;
	}

	.container input[type=date] {
		font-size: 0.875rem;
	}
}
