@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

/* Variables */
:root {
	--bg-clr-1: #2b2d42;
	--bg-clr-2: #8d99ae;
	--bg-clr-3: #1d3557;
	--clr-white: #edf2f4;
	--clr-grey: #cecece;
	--clr-black: #001219;
	--transition: all 0.3s ease-in-out;
}

body {
	margin: 0;
	background: var(--bg-clr-1);
	font-family: 'Noto Sans JP', sans-serif;
}

.Wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Laptop & Desktop */
@media screen and (min-width: 1110px) {
	.Wrapper {
		flex-direction: row;
		align-items: flex-start;
		gap: 1rem;
		padding: 1rem;
	}
}
